#DBSB{
 display:none;   
}
#movie{
    position: absolute;
    left:900px;
    top:10px;
    border-radius:70px;
    padding:50px;
    background-color:lime;
    border:5px solid black;
    font-size:20px;
}

#anime{
    position: absolute;
    left:1500px;
    top:10px;
    border-radius:70px;
    padding:40px;
    background-color:red;
    border:5px solid black;
    font-size:20px;
}

h2{
    color:blue;
    background-color:orange;
    font-size:35px;
    padding:20px;
    border:5px solid red;
    margin-bottom: 15px;
    width:50%;
}
h3{
    font-size:18px;
    position: absolute;
    top:140px;
    border:5px solid blue;
    background-color:yellow;
    display:flex;
    width:35%;
}
h4{
    position: absolute;
    display:flex;
    justify-content:center;
    left:740px;
    border:5px solid red;
    background-color:blue;
    width:35%;
    top:136px;
}
h5{
    position: absolute;
    border:5px solid purple;
    font-size:18px;
    width:35%;
    left:1430px;
    background-color:gold;
    top:128px;
}
.super{
    display: flex;
    position: absolute;
    top:150px;
}
.kaioken{
    display:flex;
    position: absolute;
    height:600px;
    width:600px;
    left:700px;
    top:370px;
}
.blue{
    display:flex;
    position: absolute;
    top:410px;
    left:10px;
}
.vegeta{
    height:600px;
    width:500px;
}
.golden{
    display: flex;
    position:absolute; 
    left: 1425px;
    top:490px;
}
.frieza{
    left:1500px;
    height:600px;
    width:500px;
}
.title{
    position: absolute;
    width:1920px;
    height:500px;
    top:200px;
    left:0px;
}
.poster{
    position:absolute;
    left:700px;
    width:700px;
    height:1000px;
    top:700px;
}
.piccolo{
    position: absolute;
    top:700px;
    width:693px;
    height:1000px;
}
.gods{
    position: absolute;
    left:1380px;
    width:550px;
    height:1000px;
    top:700px;
}
.tyrannt{
    position: absolute;
    top:1700px;
    width:700px;
    height:1000px;
    left:1000px;
}
.berserker{
    position: absolute;
    left: 200px;
    top:1700px;
    width:700px;
    height:1000px;
}
.prince{
    position: absolute;
    display: flex;
    justify-content:flex-start;
    width:690px;
    height:1000px;
    top:2700px;
}
.goku{
    position: absolute;
    width:680px;
    height:1000px;
    left:1250px;
    top:2700px;
}
.fusion{
    position:absolute;
    display: flex;
    justify-content:center;
    left:700px;
    height:1000px;
    width:700px;
    top:2700px;
}