h2{
    color:blue;
    font-family:'Bubblegum Sans', cursive;
    font-size:40px;
    padding:30px;
    border:5px solid red;
    
}
.super{
    display:flex;
}
.character2{
    display:flex;
    justify-content:flex-end;
    width:50%;
    margin:20px;
}
.character1{
    display:flex;
    justify-content:flex-start;
}